svg.normal {
  transition: transform 0.2s;
  transform: scale(0.75);
  filter: drop-shadow(rgba(0, 0, 0, 0.5) 3px 3px 3px);
}

svg.active {
  transition: transform 0.2s;
  transform: scale(1.1);
  filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 4px) drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 4px);
}

svg.focused {
  transition: transform 0.2s;
  transform: scale(1.3);
  animation-duration: 1.2s;
  animation-name: item-focused;
  animation-iteration-count: infinite;

  @keyframes item-focused {
    0% {
      filter: drop-shadow(transparent 0px 0px 0px);
    }

    50% {
      filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 6px) drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 6px) drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 6px);
    }
  }
}

.vertical-item {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  //border: solid 1px white;
}

.horizontal-item {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.2s;
}