.list-move-to-left {
  transform: translate(-160px, 0px);

  .horizontal-item:not(.active) {
    opacity: 0;
  }

  .vertical-item .footer {
    opacity: 0;
  }

  &.vertical-lists .list.active .vertical-item.active .icon {
    &::after, &::before {
      display: block;
      position: absolute;
      content: '';
      width: 15px;
      height: 5px;
      right: -35px;
      top: -7.5px;
      bottom: 0;
      margin: auto;
      background-color: white;
      transform: rotate(45deg);
    }

    &::before {
      top: 7.5px;
      transform: rotate(-45deg);
    }
  }

  &.vertical-lists .list.active .vertical-item.active .focused {
    animation-name: none;
  }
}

.vertical-item.active .description.exist {
  display: flex;
}